<br>
<div class="container">
  <div class="container-userinfo">
    <!-- Linke Spalte: Benutzerinformationen -->
    <div class="left-column">
      <div class="text-row">
        <div class="container-text">Rolle: </div>
        <div class="container-text3">Administrator</div>
      </div>
      <div class="text-row">
        <div class="container-text">Benutzername: </div>
        <div class="container-text3">{{ this.userLoad.username }}</div>
      </div>
      <div class="text-row">
        <div class="container-text">Vorname: </div>
        <div class="container-text3">{{ this.userLoad.firstname }}</div>
      </div>
      <div class="text-row">
        <div class="container-text">Nachname: </div>
        <div class="container-text3">{{ this.userLoad.lastname }}</div>
      </div>
      <div class="text-row">
        <div class="container-text">E-Mail-Adresse: </div>
        <div class="container-text3">{{ this.userLoad.email }}</div>
      </div>
    </div>

    <!-- Rechte Spalte: Profilbild -->
    <div class="right-column">
      <div class="text-row">
        <div class="container-text-profilbild">Profilbild: </div>
      </div>
      <img id="profilbild" alt="Profilbild">
    </div>
  </div>
</div>


<div class="container-gap"></div>

<!-- Freundesliste des Benutzers -->
<div class="friends-list-container">
  <div class = "container-text6">Freundesliste von {{ this.userLoad.username }}:</div>
  <div *ngIf="friends.length > 0; else noFriends">
    <ul>
      <li *ngFor="let friend of filteredFriends()">
        <span>{{ friend }}</span>
      </li>
    </ul>
  </div>
  <ng-template #noFriends>
    <p *ngIf="navrole && visibility !== 'public'">
      Die Freundesliste dieses Benutzers ist privat.
    </p>
    <p *ngIf="!navrole || visibility === 'public'">
      Dieser Benutzer hat keine Freunde.
    </p>
  </ng-template>
</div>
<p></p>
<div class="container-gap"></div>
<p></p>
<button class="return-button" (click)="backnavigate()">Zurück</button>
<p></p>
<br>
<br>
<br>

