<p></p>
<nav class="navbar">
  <div class="nav-buttons">
    <button class="nav-button" routerLink="/activity">Neue Aktivität</button>
    <button class="nav-button" routerLink="/activity-repository">Aktivitäten</button>
    <button class="nav-button" routerLink="/leaderboard">Leaderboard</button>
    <button class="nav-button" routerLink="/profilesearch">Benutzerprofile</button>
    <button class="nav-button" routerLink="/friends-list">Freunde</button>
    <button class="nav-button" routerLink="/socialfeed">Timeline</button>
    <button class="nav-button" routerLink="/profile">Mein Profil</button>
  </div>
</nav>

